<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head', {title: "User Profile", style: "/css/styles-users.css"}) %>
    
<body>
       
    <!-- Inclución de Header -->
    <%- include ('../partials/header') %>    

    <main class="conteiner-users ">
        <section class="conteinerUserProfile">
            <div class="editProfile">
                <a href="/users/profile/edit/<%= user.id %>"><i class="fas fa-pencil-alt"></i></a>
            </div>
            <div class="imageUserProfile">
                <img src="<%= user.img %>", alt="Imagen de usuario" />
                <h1>Hola, <%= user.firstName%>. ¡Empecemos!<br>¿Qué quieres hacer hoy?</h1>
            </div>
            <hr>
            <div class="conteiner-accion">
            <div class="datosDeUsuarioProfile">
                <i class="fas fa-shopping-bag"></i>
                <h1> Administrar Productos</h1>
                <form class="form-login" action="/admin/adminProduct" method="GET">
                    <button type="submit" class="enviar">Comenzar</button>
                </form>
            </div>
            <div class="datosDeUsuarioProfile">
                <i class="fas fa-users"></i>
                <h1> Administrar Usuarios</h1>
                <form class="form-login" action="/users/adminUsers" method="GET">
                    <button type="submit" class="enviar">Próximamente</button>
                </form>
            </div>
            </div>
            
        </section>
    </main>

        <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  
</body>
</html>