<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title: "Registro", style: "/css/styles-users.css"}) %>
<body>
    
    <!-- Inclución de Header -->
    <%- include ('../partials/header') %>    
           
    <main class="register">
        <section class="conteiner-users">
            <div class="cancel-button"><a href="/users/adminUsers"><i class="fas fa-times"></i></a></div>
            <h3>Editar Perfil de Usuario</h3>
            <form class="form-login" action="/users/profile/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <img src="<%= user.userImage %>", alt="Imagen de usuario" />
                <input type="text" id="firstName" name="firstName" value="<%= locals.oldData ? oldData.firstName : user.firstName %>">
                <input type="text" id="lastName" name="lastName" value="<%= locals.oldData ? oldData.lastName : user.lastName %>">
                <input type="text" id="email" name="email" value="<%= locals.oldData ? oldData.email : user.email %>">
                
                <% if (locals.isLogged) { %>
                    <% if(locals.userLogged.userPrivilege === 1) { %>
                        <div class="recuerdame">
                            <input type="checkbox" 
                            <% if(user.userPrivilege) { %>
                                checked="checked" disabled="disabled" 
                                name="userPrivileges" id="userPrivileges">
                                <input name="userPrivileges" type="hidden" value="on">
                            <% } else { %>
                                disabled="disabled" 
                                name="userPrivileges" id="userPrivileges">
                                <input name="userPrivileges" type="hidden">
                            <% } %>
                    <% } else if(locals.userLogged.userPrivilege === 2) { %>
                        <div class="recuerdame">
                            <input type="checkbox" 
                            <% if(user.userPrivilege) { %>
                                checked="checked"
                                name="userPrivileges" id="userPrivileges" value="on">
                            <% } else { %>
                                name="userPrivileges" id="userPrivileges" value="on">
                            <% } %>
                    <% } %> 
                        <label for="recuerdame">Permisos de administrador</label>
                        </div>
                <% } %> 

            </form>
        </section>
    </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %> 
    <script src="/js/userEdit.js"></script>  

</body>
</html>