<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head', {title: "Carrito de Compras", style: "/css/styles-shop.css"}) %>

	<body>
        <!-- Inclución de Header -->
        <%- include ('../partials/header') %>

        <main>
			<section class="conteiner-shop">
				<h3>Carrito de Compras</h3>
				<div> 
					
						<% for(let i=0; i< productUser.products.length; i++) { %>
						<article class="conteiner-productos-shop">
							<div class="product-img-shop">
							<img src="<%= productUser.products[i].productImage%>", alt="Imagen">
							</div>
			
							<form class="icono-trash-producto" action="/products/productCart/<%= productUser.products[i].id%>?_method=DELETE" method="POST" enctype="multipart/form-data">	
								<button type="submit" class="delete"><i class="fas fa-trash-alt"></i></button>
							</form>
			
							<div class="contenedor-detalle-shop">
								<div class="nombre-producto-shop">
									<p><%= productUser.products[i].name %></p>
								</div>
								
								<div class="conteiner-valores">
									<div class="cantidad-input">
										<p>Cantidad:</p>
										<input type="number" name="cantidad" placeholder="1" required>
									</div>
									<!--<label for="cantidad">Cantidad</label>
									<button type="" class="enviar" class="lessButton">-</button>
									<input type="number" id="cantidad" value="1" name="cantidad" min="1" max="100"> 
									<button type="" class="enviar" class="plusButton">+</button>-->
									<p class="precio-shop"><%= productUser.products[i].price %></p>
									<p class="discount-shop"><%= productUser.products[i].priceBefore %></p>
								</div>
								<div class="acceso-detalle-shop">
									<a href="/products/productDetail/<%= productUser.products[i].id%>"><p>Ver detalle</p></a>
								</div>
							
							</div>	
						</article>
						<% } %>
						
						<div class="conteiner-totals-shop">
							<div class="label-total">
								<p>Total</p>
							</div>
							<% let acum = 0; %>
							<% for(let i=0; i< productUser.products.length; i++) { %>
								<% acum += productUser.products[i].price %>
							<% } %>
							<div class="total">
								<p><%= acum %></p>
							</div>
								<form class="comprar" action="/products/productCart/<%= productUser.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">	
									<button type="submit" class="comprar"><i class="fas fa-shopping-cart"></i> Comprar</button>
								</form>
							
						</div>
				
				</div>
				
			</section>
			
			<!-- Inicio sección de productos destacados -->
			<section class="contenedor-novedades-productos">
				<h3>DESTACADOS</h3>
				<div class="products">
					<% let contador = 0 %>
					<% for(let producto of products) { %>
						<% if (producto.states.state == "Destacado" && contador < 4) { %>
					<article>
						<% contador = contador + 1; %>
						<div class="novedad-producto">
							<p><%= producto.states.state%></p>
						</div>
						<img src="<%= producto.productImage%>", alt="Imagen Aventura" class="product_img">
						<form class="icono-plus-prtoducto" action="/products/productCart/<%= producto.id%>" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="buttonCart"  ><i class="fas fa-plus"></i></button>
                        </form>
						<div class="nombre-producto">
							<p><%= producto.name%></p>
						</div>
						<div class="contenedor-detalle">
						<p class="precios">$<%= producto.price%></p>
						<p class="discount">$<%= producto.priceBefore%></p>
						</div>
						<div class="acceso-detalle">
							<a href="/products/productDetail/<%= producto.id%>"> <p>Ver detalle</p> </a>
						</div>
					</article>
					  <% } %>
						
					<% } %>
				</div>
			</section>

</main>

<!-- Inclución de Footer -->
<%- include ('../partials/footer') %>  

</body>
</html>
