<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Productos", style: "/css/styles-products.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
          <section class="conteiner-titulo">
            <h3><a href="/">Inicio</a> > <a href="/products">Productos</a></h3>
            <form class="items-select" action="/products/filter" method="GET">
				<select name="categorias" id="categorias" class="productCategory" >
					<option disabled value="Categoría del Producto" selected>Categoría</option>
					<% for (let i = 0; i < cat.length; i++) { %>
						<option value="<%= cat[i].id %>"><%= cat[i].category %></option>
					<% } %>	
				</select>
				<select name="subCategoria" id="subCategoria" class="productSubCategory">
					<option disabled value="Subcategorias" selected>Subcategoria</option>
					<% for (let i =0; i < subCat.length; i++) { %>
						<option value="<%= subCat[i].id %>"><%= subCat[i].subCategory %></option>
					<% } %>	
				</select>
                <div class="form-filtro">
                    <button type="submit" class="go">Go!</button>
                </div>
			</form>
          </section>
          <section class="contenedor-novedades-productos">
            <div class="products">
                <% for(let producto of products) { %>
                <article>
                  
                    <img src="<%= producto.productImage%>", alt="Imagen Aventura" class="product_img">
                    
                    <form class="icono-plus-prtoducto" action="/products/productCart/<%= producto.id%>" method="POST" enctype="multipart/form-data">
                        <i class="fas fa-plus"><button type="submit" class="delete"></button></i>
                    
                    </form>
                    <div class="nombre-producto">
                        <p><%= producto.name%></p>
                    </div>
                    <div class="contenedor-detalle">
                    <p class="precios">$<%= producto.price%></p>
                    <p class="discount">$<%= producto.priceBefore%></p>
                    </div>
                    <div class="acceso-detalle">
                        <a href="/products/productDetail/<%= producto.id%>"> <p>Ver detalle</p> </a>
                    </div>
                </article>
                <% } %>
            </div>
        </section>
	  
      </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  

</body>
</html>
