<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Crear Producto", style: "/css/styles-newProduct.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
		<section class="conteiner-newProduct">
			<h3>Crear Productos</h3>
			<form class="form-newProduct" action="/admin/productCreate" method="POST" enctype="multipart/form-data">
				<input type="text" id="nombre" name="nombre" placeholder="Nombre de Producto" value="<%= locals.oldData ? oldData.nombre : null %>">
				
				<div class="items-select">
				<select name="categorias" id="categorias" class="productCategory">
					<option disabled value="" selected>Categoría del Producto</option>
					<% for (let i = 0; i < cat.length; i++) { %>
						<option value="<%= cat[i].id %>"><%= cat[i].category %></option>
					<% } %>			
				</select>
				<select name="subCategoria" id="subCategoria" class="productSubCategory">
					<option disabled value="" selected>Subcategorias</option>
					<% for (let i =0; i < subCat.length; i++) { %>
						<option value="<%= subCat[i].id %>"><%= subCat[i].subCategory %></option>
					<% } %>	
				</select>
			    </div>

				<div class="priceDiscount">
					<input type="number" step="any" id="precio" name="precio" placeholder="Precio de Producto" value="<%= locals.oldData ? oldData.precio : null %>">
					<input type="number" step="any" id="precioAnterior" name="precioAnterior" placeholder="Descuento" value="<%= locals.oldData ? oldData.precioAnterior : null %>">
					<div>
						<select name="estado" id="estado" class="productState">
							<option disabled value="" selected>Estado de producto</option>
							<% for (let i =0; i < sta.length; i++) { %>
							<option value="<%= sta[i].id %>"><%= sta[i].state %></option>
							<% } %>	
						</select>
					</div>
				</div>
				<div class="uploadFile">
				<label for="img" class="form-label">Imagen de producto:</label>
				<input type="file" id="img" name="img" value="fotoProd" class="botonFile">
			   </div>
			   <textarea name="detalle" id="detalle" placeholder="Detalle de Producto" class="textArea" value="<%= locals.oldData ? oldData.detalle : null %>"></textarea>
			   <ul class="errores"></ul>

			   <button type="submit" class="enviar">Enviar</button>
			   <button type="reset" class="borrar">Borrar</button>
			</form>
	  </section>
	  </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>
	<script src="/js/productCreate.js"></script> 

</body>
</html>
