<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Crear Producto", style: "/css/styles-editProduct.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
		<section class="conteiner-editProduct">
			<div class="cancel-button"><a href="/admin/adminProduct"><i class="fas fa-times"></i></a></div>
			<h3>Editar Producto</h3>
				<form class="form-editProduct" action="/admin/productEdit/<%= productoEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
				    
					
					<input type="text" id="nombre" name="nombre" value="<%= productoEditar.name%>">
										
					<div class="items-select">
						<select name="categorias" id="categorias" class="productCategory">
							<option disabled value="<%= productoEditar.categorys.category%>">Categoría del Producto</option>
							<% for (let i =0; i < cat.length; i++) { %>
								<option value="<%= cat[i].id %>" ><%= cat[i].category %></option>
							<% } %>	
			
						</select>
						<select name="subCategoria" id="subCategoria" class="productSubCategory">
							<option disabled value="<%= productoEditar.subcategorys.subCategory%>">Subcategorias</option>
							<% for (let i =0; i < subCat.length; i++) { %>
								<option value="<%= subCat[i].id %>"><%= subCat[i].subCategory %></option>
							<% } %>	
						</select>
					</div>
					<div class="priceDiscount">
						<input type="number" step="any" id="precio" name="precio" value="<%= productoEditar.price%>">
						<input type="number" step="any" id="precioAnterior" name="precioAnterior" value="<%= productoEditar.priceBefore%>">
						<select name="estado" id="estado" class="productState">
							<option disabled value="<%= productoEditar.states.state%>">Estado de producto</option>
							<% for (let i =0; i < sta.length; i++) { %>
								<option value="<%= sta[i].id %>"><%= sta[i].state %></option>
							<% } %>
						</select>
					</div>
					<div class="uploadFlie">
					<div class="imagen-producto"><img src="<%= productoEditar.productImage%>" alt="Imagen Producto"></div>
					<input type="file" id="img" name="img" value="fotoProd" class="botonFile">
				</div>
				<textarea name="detalle" id="detalle" value="<%= productoEditar.detail%>" class="textArea"><%= productoEditar.detail%></textarea>
				<ul class="errores"></ul>
				<button type="submit" class="enviar">Enviar</button>
				<button type="reset" class="borrar">Refrescar</button>
			</form>
	  </section>
	  </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %> 
	<script src="/js/productEdit.js"></script>

</body>
</html>
