<!DOCTYPE html>
<html lang="es">
	<%- include ('../partials/head', {title: "Crear Producto", style: "/css/styles-editProduct.css"}) %>
<body>

    <!-- Inclución de Header -->
    <%- include ('../partials/header') %> 
      <main>
		<section class="conteiner-editProduct">
			<h3>Editar Producto</h3>
				<form class="form-editProduct" action="/admin/productEdit/<%= productoEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
				
					<input type="text" name="nombre" placeholder="HiBox Aventura - Combo 1" value="<%= productoEditar.name%>">
					<% if (locals.errors && errors.nombre) { %>
						<p class="invalid"><%= errors.nombre.msg %> </p>
					<% } %>
					
					<div class="items-select">
						<select name="categorias" id="categorias" class="productCategory">
							<option disabled value="<%= productoEditar.categorys.category%>">Categoría del Producto</option>
							<% for (let i =0; i < cat.length; i++) { %>
								<option value="<%= cat[i].id %>" <%= locals.oldData && (cat[i].category === oldData.estado)? 'selected' : null %>><%= cat[i].category %></option>
							<% } %>	
							<!--
							<option value="aventura">Aventura</option>
							<option value="entretenimiento">Entretenimiento</option>
							<option value="gastronomia">Gastronomía</option>
							-->
							<!--<option value="aventura" <%= productoEditar.categoria == "aventura" ? "selected" : null %>Aventura</option>
							<option value="entretenimiento" <%= productoEditar.categoria == "entretenimiento" ? "selected" : null %>Entretenimiento</option>
							<option value="gastronomia" <%= productoEditar.categoria == "gastronomia" ? "selected" : null %>Gastronomía</option>-->
						</select>
						<select name="subCategoria" id="subCategoria" class="productSubCategory">
							<option disabled value="<%= productoEditar.subCategorys.subCategory%>">Subcategorias</option>
							<% for (let i =0; i < subCat.length; i++) { %>
								<option value="<%= subCat[i].id %>" <%= locals.oldData && (subCat[i].subCategory === oldData.estado)? 'selected' : null %>><%= subCat[i].subCategory %></option>
							<% } %>	
							<!--
							<option value="individual">Individual</option>
							<option value="acompaniado">Acompañado</option>
							<option value="familiar">Familiar</option>
							-->
							<!--<option value="individual" <%= productoEditar.subCategoria == "individual" ? "selected" : null %>Individual</option>
							<option value="acompaniado" <%= productoEditar.subCategoria == "acompaniado" ? "selected" : null %>Acompañado</option>
							<option value="familiar" <%= productoEditar.subCategoria == "familiar" ? "selected" : null %>Familiar</option>-->
						</select>
					</div>
					<div class="priceDiscount">
						<input type="number" step="any" name="precio" placeholder="$6.770" value="<%= productoEditar.price%>">
						<% if (locals.errors && errors.precio) { %>
							<p class="invalid"><%= errors.precio.msg %> </p>
						<% } %>
						
						<input type="number" step="any" name="precioAnterior" placeholder="$9.850" value="<%= productoEditar.priceBefore%>">
						<% if (locals.errors && errors.precioAnterior) { %>
							<p class="invalid"><%= errors.precioAnterior.msg %> </p>
						<% } %>
						
						<select name="estado" id="estado" class="productState">
							<option disabled value="<%= productoEditar.states.state%>">Estado de producto</option>
							<% for (let i =0; i < sta.length; i++) { %>
								<option value="<%= sta[i].id %>" <%= locals.oldData && (sta[i].state === oldData.estado)? 'selected' : null %>><%= sta[i].state %></option>
							<% } %>	
							<!--
							<option value="nuevo">Nuevo</option>
							<option value="oferta">Oferta</option>
							<option value="destacado">Destacado</option>
							-->
							<!--<option value="nuevo" <%= productoEditar.estado == "nuevo" ? "selected" : null %>Nuevo</option>
							<option value="oferta" <%= productoEditar.estado == "oferta" ? "selected" : null %>Oferta</option>
							<option value="destacado" <%= productoEditar.estado == "destacado" ? "selected" : null %>Destacado</option>-->
						</select>
					</div>
					<div class="uploadFlie">
					<div class="imagen-producto"><img src="<%= productoEditar.productImage%>" alt="Imagen Producto"></div>
					<!--<label for="img" class="form-label">Imagen de producto:</label>-->
					<input type="file" name="img" value="fotoProd" class="botonFile">
				</div>
				<textarea name="detalle" id="detalle" value="<%= productoEditar.detail%>" class="textArea"><%= productoEditar.detail%></textarea>
				<% if (locals.errors && errors.detalle) { %>
					<p class="invalid"><%= errors.detalle.msg %> </p>
				<% } %>
				<button type="submit" class="enviar">Enviar</button>
				<button type="reset" class="borrar">Refrescar</button>
			</form>
	  </section>
	  </main>

    <!-- Inclución de Header -->
    <%- include ('../partials/footer') %>  

</body>
</html>
